body {
  background-color: #322066;
  margin: 0;
  padding: 0;
}
@media (max-width: 767px) {
  body {
    margin-top: 5px;
  }
}

section {
  max-width: 1170px;
  padding: 0 30px;
  background-color: white;
  margin: 0 auto;
}
@media (max-width: 767px) {
  section {
    padding: 0 15px;
    width: 100%;
  }
}

.container {
  max-width: 1170px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-bottom: 30px;
}

.header {
  margin-top: 20px;
}
.panel {
  background-color: white;
  padding-top: 30px auto;
  position: relative;
  display: contents;
}

.title {
  font-size: 24px;
  font-family: "Work Sans", sans-serif;
  text-align: center;
  margin: 20px auto;
}

.input__link {
  margin: 20px 0;
  text-align: center;
}

::placeholder {
  color: #c7c7c7;
  font-size: 18px;
  text-align: center;
}

input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #c7c7c7;
  outline: none;
  font-size: 16px;
  max-width: 590px;
  text-align: center;
}

input:focus {
  color: #000000;
  border: none;
  border-bottom: 1px #1e00ff solid;
}

.btn {
  border: none;
  padding: 0;
  background-color: white;
  margin: 0 auto;
}

.btn:focus {
  border: none;
  outline: none;
}
.button {
  width: 230px;
  height: 70px;
  background: linear-gradient(90deg, #05fbff -11.74%, #1e00ff 117.83%);
  padding: 2px;
  margin: 0 auto;
}

.button:active {
  outline: none;
  background-color: gray;
  transform: translateY(4px);
}

.button__2 {
  width: 228px;
  height: 68px;
  left: 74px;
  top: 549px;
  font-size: 24px;
  font-family: "Work Sans", sans-serif;
  text-align: center;

  background: #ffffff;
}

.button {
  border: none;
  height: 75px;
  width: 250px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 5px;
  background: linear-gradient(
    90deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  box-shadow: 0 0 15px #494949;
}

.button .img__mic__on {
  background: url(../../assets/microphone.png);
  height: 60px;
  width: 60px;
  background-size: contain;
}
.button .img__mic__off {
  background: url(../../assets/microphone__off.png);
  height: 60px;
  width: 60px;
  background-size: contain;
}

.button .text__button {
  font-size: 20px;
  font-family: "Work Sans", sans-serif;
  text-align: center;
  margin: auto;
  color: white;
}

.button:hover {
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgba(34, 119, 195, 1) 0%,
    rgba(253, 83, 45, 1) 100%
  );
  transition: all 0.5s;
}

.audio {
  margin-top: 20px;
}

.progress-ring,
.progress-ring:before {
  margin-left: auto;
  margin-right: auto;
  height: 10px;
  width: 228px;
}
.progress-ring {
  background-color: #b3d4fc;
  display: -webkit-flex;
  display: flex;
  margin-top: 30px;
}
.progress-ring:before {
  background-color: #3f51b5;
  content: "";
  -webkit-animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}
@-webkit-keyframes running-progress {
  0% {
    margin-left: 0px;
    margin-right: 100%;
  }
  50% {
    margin-left: 25%;
    margin-right: 0%;
  }
  100% {
    margin-left: 100%;
    margin-right: 0;
  }
}
@keyframes running-progress {
  0% {
    margin-left: 0px;
    margin-right: 100%;
  }
  50% {
    margin-left: 25%;
    margin-right: 0%;
  }
  100% {
    margin-left: 100%;
    margin-right: 0;
  }
}

.show {
  color: #f3b632;
  text-align: center;
  font-size: 28px;
  font-family: "Work Sans", sans-serif;
  text-align: center;
}

.result {
  border-top: 2px indianred solid;
}

.info {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 900px) {
  .info {
    display: contents;
  }
}

.msg {
  width: 320px;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .msg {
    width: 100%;
  }
}

.item1 {
  display: flex;
  justify-content: flex-start;
}

.item2 {
  display: flex;
  justify-content: flex-end;
}

.item11 {
  padding: 10px;
  border-radius: 20px;
  background-color: rgb(75, 75, 75);
  width: 200px;
  box-shadow: -5px -5px 10px #ababab, 5px 5px 10px #d6d6d6;
}

.item22 {
  padding: 10px;
  border-radius: 20px;
  width: 200px;
  background-color: rgb(123, 132, 214);
  box-shadow: 5px 5px 10px #ababab, -5px -5px 10px #d6d6d6;
}

.name-msg1 {
  font-size: 18px;
  line-height: 46px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Open Sans";
  text-align: left;
}

.name-msg2 {
  background-color: rgb(123, 132, 214);
  font-size: 18px;
  line-height: 46px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Open Sans";
  text-align: left;
}

.text-msg1 {
  font-size: 18px;
  line-height: 20px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Open Sans";
  text-align: left;
}

.text-msg2 {
  font-size: 18px;
  line-height: 20px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Open Sans";
  text-align: left;
}

.detail {
  margin: 10px;
  border-radius: 10px;
  flex-direction: column;
  box-shadow: 0 0 10px gray;
  padding: 10px;
}

@media (max-width: 768px) {
  .detail {
    padding: 5px;
  }
}

.difference {
  display: flex;
  margin: 10px;
  justify-content: space-between;
}

/*@media(min-width:768px){
    .difference {display: flex;
    }
}*/

p {
  font-size: 16px;
  color: #6b6b6b;
  text-transform: uppercase;
  margin: 0;
  padding-right: 10px;
  padding-top: 10px;
}

#text {
  width: 100%;
}

#number {
  font-size: 18px;
  color: #f3b632;
  padding-top: 10px;
  margin: 0;
}

/* Icon img*/

.img {
  margin-right: 10px;
  height: 50px;
  width: 50px;
  background: url(../../assets/funny.png) no-repeat;
  background-size: contain;
}

.Man {
  margin-right: 10px;
  height: 50px;
  width: 50px;
  background: url(../../assets/old-men.png) no-repeat;
  background-size: contain;
}

.Normal {
  margin-right: 10px;
  height: 50px;
  width: 50px;
  background: url(../../assets/slow.png) no-repeat;
  background-size: contain;
}

.Adult {
  margin-right: 10px;
  height: 50px;
  width: 50px;
  background: url(../../assets/Adult__man.png) no-repeat;
  background-size: contain;
}

.title {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  color: #6b6b6b;
  text-align: center;
}

.detail-items {
  display: contents;
}

.icon-status {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.detail-voice {
  display: flex;
}
