body {
  background-color: #322066;
  margin: 0;
  padding: 0;
}
@media (max-width: 767px) {
  body {
    margin-top: 5px;
  }
}

.logo {
  margin: 10px auto;
  height: 300px;
  width: 300px;
  background: url(../../assets/Logo.png);
  background-size: contain;
}

.span {
  color: #1e00ff;
  font-size: 98px;
  font-family: "Work Sans", sans-serif;
}

.title__main {
  font-size: 98px;
  font-family: "Work Sans", sans-serif;
  text-align: center;
}

.main__text {
  margin: 10px auto;
  min-width: 300px;
  font-size: 36px;
  font-family: "Work Sans", sans-serif;
}

section {
  max-width: 1170px;
  padding: 0 30px;
  background-color: white;
  margin: 0 auto;
}
@media (max-width: 767px) {
  section {
    padding: 0 15px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .title__main {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .main__text {
    padding: 5px;
    width: 100%;
  }
}

.container {
  max-width: 1170px;
  min-height: 320px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-bottom: 30px;
}
.header {
  margin-top: 20px;
}
.panel {
  background-color: white;
  padding-top: 30px auto;
  position: relative;
  display: contents;
}

.buttons {
  display: flex;
  margin: 20px auto;
}

@media (max-width: 900px) {
  .buttons {
    display: contents;
    margin-top: 50px;
    margin-left: 50px;
  }
}

@media (max-width: 767px) {
  body {
    margin-top: 5px;
  }
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
  margin-left: 30px;
  margin-top: 30px;
}

.btn {
  border: none;
  padding: 0;
  background-color: white;
  margin: 0 auto;
}

.button:focus {
  border: none;
  outline: none;
}
.button {
  width: 230px;
  height: 70px;
  background: linear-gradient(90deg, #05fbff -11.74%, #1e00ff 117.83%);
  padding: 2px;
}

.button:active {
  outline: none;
  background-color: gray;
  transform: translateY(4px);
}

.button__2 {
  width: 228px;
  height: 68px;
  left: 74px;
  top: 549px;
  font-size: 24px;
  font-family: "Work Sans", sans-serif;
  text-align: center;

  background: #ffffff;
}

.button {
  border: none;
  height: 75px;
  width: 250px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 5px;
  background: linear-gradient(
    90deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  box-shadow: 0 0 15px #494949;
}

.button .text__button {
  font-size: 20px;
  font-family: "Work Sans", sans-serif;
  text-align: center;
  margin: auto;
  color: white;
}

.button:hover {
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgba(34, 119, 195, 1) 0%,
    rgba(253, 83, 45, 1) 100%
  );
  transition: all 0.5s;
}
