/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

.detail-voice_item,
.chart-wrapper,
.megaaudioplayer,
.header,
.info-form,
.panel,
.batch-block  {
  background-color: rgb(240, 240, 240);
  border-radius: 25px;
}

.header {
  z-index: 500;
  width: 100%;
  position: fixed;
  min-height: 30px;
  border-radius: 0;
}

section {
    width: 1170px;
    margin: 0 auto;
    padding: 20px;
}

::placeholder {
    color: #c7c7c7;
    font-size: 20px;
    text-align: center;
}

input,
textarea {
  padding: 5px;
  background: none;
}

input:focus {
  color: #000000;
  border: none;
  border-bottom: 1px #1e00ff solid;
}

textarea {
  width: 100%;
  height: 200px;
  border: none;
  border: 1px #c7c7c7 solid;
  outline: none;
  font-size: 20px;
  max-width: 590px;
  text-align: center;
}

textarea:focus {
  color: #000000;
  border: none;
  border-bottom: 1px #1e00ff solid;
}

.container {
  background-color: #322066;
  font-family: 'Poppins', sans-serif;
  width: 100%;
  min-height: 100vh;
}

.info-form {
    margin: 100px auto;
    width: 400px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(128, 128, 128, 0.5);
    
}

.form_title,
.form_input_link,
.form_checkbox,
.form_radio_btn,
.form_textarea,
.button {
    margin-bottom: 20px;
}

.form_title,
.block_title,
.title {
    text-align: center;
    font-weight: 600;
    color: rgb(65, 65, 65);
    font-size: 20px;
}

.form_input_link input,
.form_textarea {
    width: 100%;
    border: 2px grey solid;
}

.form_input_link input:focus,
.form_textarea:focus {
    width: 100%;
    border: 2px rgb(129, 156, 230) solid;
}

.form-control {
}

.checkbox {
}

.fake {
}

.text_label {
  font-size: 20px;
  margin-left: 10px;
}

.button {
  display: flex;
  justify-content: center;
}

.button .img__mic__on {
  top: -6px;
  margin-left: 10px;
  border-radius: 50%;
  background: url(../assets/microphone.png)  rgba(100, 8, 221, 0.5);
  height: 40px;
  width: 40px;
  background-size: contain;
}

.button .img__mic__off {
  transform: translateY(-6px);
  margin-left: 10px;
  border-radius: 50%;
  background: url(../assets/microphone__off.png) rgba(100, 8, 221, 0.5);
  height: 40px;
  width: 40px;
  background-size: contain;
}

button {
    margin-top: 10px;
    height: 50px;
    width: 350px;
    border-radius: 20px;
    box-shadow: 0 2px 5px grey;
    transition: all 0.1s linear;
    padding: 10px;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 400;

}

.text__button {
  margin: auto;
}

button:hover {
    color: white;
    background-color:#07689F;
    
}

button:active {
    transform: translateY(5px);
}

.btn {
}

.progress-ring {
}

.progress__ring {

    width: 15px;
    height: 15px;
  }
  
  .progress-ring {
    position: relative;
    top: 14px;
    margin: 10px auto;
    width: 15px;
    height: 15px;
  }
  
  .outer {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-animation: progress-ring 4.5s linear infinite;
  }
  
  .inner {
    background: rgb(73, 73, 73);
    border-radius: 1px;
    width: 2px;
    height: 2px;
  }
  
  @-webkit-keyframes progress-ring {
    0% {
      opacity: 1;
      -webkit-transform: rotate(-110deg);
    }
    9.622% {
      -webkit-transform: rotate(10deg);
    }
    26.667% {
      -webkit-transform: rotate(93deg);
    }
    35.933% {
      -webkit-transform: rotate(205deg);
    }
    44.822% {
      -webkit-transform: rotate(357deg);
    }
    61.844% {
      -webkit-transform: rotate(439deg);
    }
    71.489% {
      opacity: 1;
      -webkit-transform: rotate(585deg);
    }
    71.49% {
      opacity: 0;
    }
    100% {
      opacity: 0;
      -webkit-transform: rotate(610deg);
    }
  }
  
.outer {
}

.inner {
}

.result {
}

.finde-phrases {
  display:flex;
  flex-direction: row;
}

.finde-phrases .info-form {
  margin: 10px auto;
}

.form_textarea {
}

#correct {
  color: #41c241c5;
}

#notcorrect {
  color:#d14747c5;
}
 
.megaaudioplayer {
  margin-top: 30px;
  padding: 10px;
}

.wrapper__chart {
  margin-left: 100px;
  width: 80%
}

.result_messege {
  width: 100%;
  margin: 10px 10px;
  padding: 5px;
}

.messege_block {
   overflow-x: hidden;
   margin-top: 20px;
   height: 700px;
   width: 100%;
   overflow-y: auto;
}

.messege_block .title{
margin: 10px auto;
}

.messege_item {
    padding: 5px;
}

.msg-client, 
.msg-operator {
  cursor: pointer;
    padding: 10px;
    box-shadow: 2px 2px 10px rgba(87, 87, 87, 0.623);
    border-radius: 15px;
}

.msg-client:active , 
.msg-operator:active {
    transform: translateY(2px);
    transition: all 0.1s linear;
}

.msg-operator {
    color: honeydew;
    background-color: #6A5ACD;
    margin-right: 30px;

}

.msg-text {
  font-size: 12px;
}

.msg-client {
    background-color: #E8F1F5;
    margin-left: 30px;

}

.detail-voice {
    margin-bottom: 10px;
}

.detail-voice_items {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.detail-voice_block {
}

.block_title {
    font-size: 18px;
    font-weight: 600;
    margin: 20px;
}

.detail_found_phrase {
}

.detail-voice_item {
    width: 100%;
    padding: 5px;
    padding-left: 15px;
    margin: 10px 10px;
}

.span-detail-voice {
  font-weight: 700;
  color: #149BCC;
}

.block_detail {
}

@media (max-width: 767px) {
  .container {
    padding-top: 0;
  }

  .header {
    min-height: 0;
    border: none;
    background: none;

  }

  section {
    width: 100%;
  }

  .menu_wrapper {
    display: flex;
  }

  .info-form {
    width: 100%;
    margin-top: 20px;
  }

  button {
    width: 100%;
  }

  .finde-phrases {
    flex-direction: column;
  }

  .result_messege {
    margin: 10px auto;
  }

  .detail-voice_items {
    flex-direction: column;
    margin: 10px auto;
  }

  .detail-voice_item {
    margin: 10px auto;
  }
}

/*batch*/

.contaiber-batch {
  padding-top: 40px;
}

.panel {
  margin: 35px 20px auto;
  padding: 10px;
}

.batch-block {
  max-width: 1170px;
  margin: 0 auto;
  padding: 40px;

}

.batch-item {
}

.block-items {
}

.batch-item__block {
  margin-bottom: 5px;
  border: 1px gray solid;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
}

.batch-item__block:hover {
background-color: #CFD8DC;
}

.batch-text {
  width: 100%;
  padding: 10px;
  border-right: 1px #000000 solid;
}

.batch-text:last-child {
  border: none;
}

.info-form.contacts {
  margin-top: 10px;
}

