@import "../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-alpine.css";

.panel {
    margin: 35px 20px auto;
    padding: 10px;
  }
  
  .batch-block {
    max-width: 1170px;
    margin: 0 auto;
    padding: 40px;
  
  }
  
  .batch-item {
  }
  
  .block-items {
  }
  
  .batch-item__block {
    margin-bottom: 5px;
    border: 1px gray solid;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
  }
  
  .batch-item__block:hover {
  background-color: #CFD8DC;
  }
  
  .batch-text {
    width: 100%;
    padding: 10px;
    border-right: 1px #000000 solid;
  }
  
  .batch-text:last-child {
    border: none;
  }