<div class="chart-wrapper">
    <canvas baseChart height="30" [datasets]="lineChartData" [options]="lineChartOptions" [colors]="lineChartColors"
        [chartType]="lineChartType" [labels]="barChartLabels">
    </canvas>
</div>