#menu__toggle {
    display: none;
  }
  
  .menu__box {
    margin: 0;
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  .menu__item {
    display: block;
    padding: 12px 24px;
  
    color: rgb(90, 90, 90);
  
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
  
    text-decoration: none;
  
    transition-duration: .25s;
  }
  
  .menu__item:hover {
    background-color: #CFD8DC;
  }

  .a:active {
    background-color: #CFD8DC
  }

  @media (max-width: 767px) {
    #menu__toggle {
      opacity: 0;
      display: block;
      z-index: 100;
    }
    
    #menu__toggle:checked ~ .menu__btn > span {
      transform: rotate(45deg);
    }

    #menu__toggle:checked ~ .menu__btn > span::before {
      top: 0;
      transform: rotate(0);
    }

    #menu__toggle:checked ~ .menu__btn > span::after {
      top: 0;
      transform: rotate(90deg);
    }

    #menu__toggle:checked ~ .menu__box {
      visibility: visible;
      right: 0;
    }

    .menu__btn {
      padding: 5px;
      display: flex;
      align-items: center;
      position: fixed;
      top: 20px;
      right: 20px;
    
      width: 30px;
      height: 30px;
    
      cursor: pointer;
      z-index: 100;
      background-color: white;
      border-radius: 50%;
      box-shadow: 0 0 10px grey;
    }

    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
      display: block;
      position: absolute;
    
      width: 30px;
      height: 3px;
    
      background-color: #616161;
    
      transition-duration: .25s;
    }

    .menu__btn > span::before {
      content: '';
      top: -8px;
    }

    .menu__btn > span::after {
      content: '';
      top: 8px;
    }
    
    .menu__box {
      display: block;
      position: fixed;
      visibility: hidden;
      z-index: 99;
      top: 0;
      right: -100%;
    
      width: 300px;
      height: 100vh;
    
      margin: 0;
      padding: 80px 0;
    
      list-style: none;
    
      background-color: #ECEFF1;
      box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    
      transition-duration: .25s;
    }
    
    .menu__item {
      display: block;
      padding: 12px 24px;
    
      color: #333;
    
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      font-weight: 600;
      text-align: center;
    
      text-decoration: none;
    
      transition-duration: .25s;
    }

    .menu__item:hover {
      background-color: #CFD8DC;
    }

}    